[submodule "dist/mbedtls"]
	path = dist/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "dist/inih"]
	path = dist/inih
	url = https://github.com/benhoyt/inih.git
[submodule "dist/libspf2"]
	path = dist/libspf2
	url = git@github.com:shevek/libspf2.git
